@font-face {
    font-family: 'Bebas Kai';
    src: url('../font/BebasKai.eot');
    src: url('../font/BebasKai.eot?#iefix') format('embedded-opentype'),
        url('../font/BebasKai.woff2') format('woff2'),
        url('../font/BebasKai.woff') format('woff'),
        url('../font/BebasKai.ttf') format('truetype'),
        url('../font/BebasKai.svg#BebasKai') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Kai';
    src: url('../font/BebasKai_1.eot');
    src: url('../font/BebasKai_1.eot?#iefix') format('embedded-opentype'),
        url('../font/BebasKai_1.woff2') format('woff2'),
        url('../font/BebasKai_1.woff') format('woff'),
        url('../font/BebasKai_1.ttf') format('truetype'),
        url('../font/BebasKai_1.svg#BebasKai') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.post,
.page {
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: "Alexandria", sans-serif;
}

h1,
.h1 {
    color: #ffffff;
    font-family: "Alexandria", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
}

h2,
.h2 {
    color: #000000;
    font-family: "Alexandria", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
}

h3,
.h3 {
    color: #000000;
    font-family: "Alexandria", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 0;
}

h4,
.h4 {
    color: #000;
    font-family: "Alexandria", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    margin-top: 0;

}

h5,
.h5 {
    color: #000;
    font-family: "Alexandria", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-family: "Alexandria", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background: var(--Pink-Orange, linear-gradient(147deg, #FF0062 19.73%, #F60 78.34%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-top: 0;
}


h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h4 span,
h5 span,
.h5 span {
    background: var(--Pink-Orange, linear-gradient(147deg, #FF0062 19.73%, #F60 78.34%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

b,
strong {
    font-weight: 700;
}


p {
    color: #000000;
    font-family: "Alexandria", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

section {
    margin: 80px 0;
}

p:last-child {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

ul,
ol {
    margin-left: 0;
    margin-bottom: 0;
}

.content-box ul li {
    color: #000000;
     list-style-type: none;
     padding-left: 20px;
     font-size: 20px;
     font-weight: 600;
     position: relative;
     break-inside: auto;
     margin-bottom: 10px;
 }
 .content-box ul li:before {
    content: "*";
    display: block;
    color: var(--Gradient, linear-gradient(90deg, #FFBF00 0%, #FF0062 100%));
    background: var(--Pink-Orange, linear-gradient(147deg, #FF0062 19.73%, #F60 78.34%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 2px;
    line-height: 1;
}


li {
    color: #000000;
    font-family: "Alexandria", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FFBF00;
    outline: none !important;
    transition: all 0.6s;
}

a:hover {
    color: #FFBF00;
}

a:visited {
    color: unset;
}

.column-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a:hover,
a:focus,
a:active {
    color: #FFBF00;
}

.gradient {
    background: linear-gradient(90deg, #FFBF00 0%, #FF0062 100%), #000;
}

.bg-gradient {
    background: linear-gradient(180deg, #FF0062 3.69%, #F60 96.58%);
}
.bg-white {
    background: #ffffff;
    padding: 80px 0;
}
.bg-black {
    background: #000000;
    padding: 80px 0;
    margin: 0;
}


.bg-black .content-box > * {
    color: #ffffff;
}

.bg-black h2,
.bg-black p,
.bg-black li,
.bg-black h4,
.bg-black h1,
.bg-black h3,
.bg-black h5,
.bg-black h6 {
    color: #ffffff;
}

.defualt_btn,
input[type="submit"],
[type="submit"],
.ff-btn-submit {
    padding: 8px 20px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;
    border: 2px solid #FFBF00;
    background: #FFBF00;
    display: inline-block;
    text-align: center;
    
}

.ff-btn-submit {
    width: 100%;
}
.defualt_btn:hover, [type="submit"]:hover, input[type="submit"]:hover, .ff-btn-submit:hover {
    background-color: transparent;
    border: 2px solid #FFBF00;
    color: #FFBF00;
}
.defualt_btn.btn_white {
    background-color: #ffffff;
    border: 2px solid #ffffff;
}
.defualt_btn.btn_white:hover {
    background-color: #000000;
    border: 2px solid #FFBF00;
    border: 2px solid #000000;
}
.defualt_btn.border-cta {
    background-color: transparent;
    border: 2px solid #000000;
}
.defualt_btn.border-cta:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #FFBF00;
    color: #FFBF00;
}
.two_btn .defualt_btn.border-cta {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #ffffff;
}

.two_btn .defualt_btn.border-cta:hover {
    border: 2px solid #FFBF00;
    color: #FFBF00;
}
.text_btn:hover svg path {
    fill: #FFBF00;
}

.two_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.text_btn svg {
    margin-right: 10px;
}
.text_btn {
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: transparent;
}

.slick-arrow {
    height: 48px;
    width: 48px;
    font-size: 0;
    background-color: #FFBF00;
    border: 2px solid #FFBF00;
    outline: none;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.6s;
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    outline: 0;
}

svg path {
    transition: all 0.6s;
}

.slick-arrow:hover {
    background-color: transparent;
    border-color: #FFBF00;
}

.slick-arrow:hover svg path {
    stroke: #FFBF00;
}

.slick-prev {
    left: 0;
   
}
.slick-next {
    right: 0;

}

ul.slick-dots {
    position: absolute;
    bottom: -40px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

ul.slick-dots li button {
    height: 0;
    width: 0;
    font-size: 0;
    border: 0;
    outline: 0;
    background: 0;
    box-shadow: unset;
}

ul.slick-dots li {
    list-style-type: none;
    width: 40px;
    background: #FFBF00;
    height: 4px;
    margin: 0 8px;
    border-radius: 4px;
}

ul.slick-dots li.slick-active {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--secondary-color);
}


.toggle_menu span {
    display: block;
    width: 30px;
    background: var(--text-black);
    height: 2px;
    margin: 6px 0;
    transition: all 0.6s;
    position: relative;
}

.toggle_menu {
    display: none;
    margin-left: 30px;
}

.title_block {
    text-align: center;
    margin-bottom: 30px;
}



input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
body .ff-default .ff-el-form-control {
    padding: 11.5px 0 11.5px 30px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: #FFF;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-family: "Alexandria", sans-serif;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 20px;
    outline: none;
}

body .fluentform .ff-el-group {
    margin-bottom: 30px;
}

body .fluentform .ff-el-group.ff_submit_btn_wrapper {
    margin-bottom: 0;
}

.ff-default input[type="text"].ff-el-form-control {
    background-image: url(../images/user.svg);
}

.ff-default input[type="email"].ff-el-form-control {
    background-image: url(../images/mail.svg);
}

.ff-default input[type="tel"].ff-el-form-control {
    background-image: url(../images/phone-receiver.svg);
}

.ff-default select.ff-el-form-control {
    background-image: url(../images/chevron-down-yellow.svg);
    padding: 11.5px 30px 11.5px 0px;
    background-position: right center;
    appearance: none;
}

.ff-default input[type="text"].ff-el-form-control.ff-el-datepicker {
    background-image: url(../images/calendar.svg);
}

.ff-default input[type="tel"].ff-el-form-control.input-postcode {
    background-image: url(../images/maps-and-flags.svg);
}

body .ff-default .ff-btn-lg {
    border-radius: 0;
}

textarea,
.ff-default textarea.ff-el-form-control {
    height: 112px;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #000;
    resize: none;
}

body .ff-default .ff-el-input--label label {
    color: #000;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Alexandria", sans-serif;
}

#blog-loader {
    text-align: center;
    padding: 20px;
}

#blog-loader img {
    width: 50px;
}

#blog-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#blog-loader:before {
    content: "";
    display: block;
    background: #000000;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
}


/*pagination Desdign*/
.pagination .page-numbers:hover img {
    filter: invert(0) brightness(0);
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination .page-numbers {
    width: 49px;
    height: 49px;
    border-radius: 24.5px;
    border: 2px solid #FFBF00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
    background: #FFBF00;
}




/* Breadcrumbs CSS Start*/
.home .breadcrumb_sec {
    display: none
}

.breadcrumb {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0
}

.breadcrumb-sec {
    background-color: #000;
    padding: 15px 0;
    border-top: solid 1px rgba(255, 255, 255, .3);
    border-bottom: solid 1px rgba(255, 255, 255, .3)
}

.breadcrumb li:hover a {
    color: #ffbf00
}

.breadcrumb li {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 3px 10px
}

.breadcrumb li:first-child {
    padding-left: 0
}

.breadcrumb li:not(:first-child):before {
    content: "/";
    display: block;
    position: absolute;
    left: -2px;
    top: 3px;
    font-size: 14px
}

.breadcrumb .breadcrumb-item a {
    color: #fff;
    font-weight: 700
}

/* Breadcrumbs CSS End*/


.title_width_btn .column-row {
    align-items: center;
    margin-bottom: 10px;
}

.title_width_btn h2 {
    color: #000000;
    margin-bottom: 0;
}

.title_width_btn {
    margin-bottom: 30px;
}

.title_width_btn p {
    color: #494949;
}





.list-with-search-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.list-with-search-btn .seacrh-btn {
    max-width: 389px;
    width: 100%;
    margin-left: 50px;
}
.list-with-search-btn .list {
    font-weight: 400;
}

.list-with-search-btn .list span {
    margin-right: 5px;
}

.list-with-search-btn .seacrh-btn input[type="text"] {
    width: 100%;
    background-image: url(../images/search.svg);
}




/*Progreass bar css Star*/
.progress_bar {
    margin-top: 44px;
}
.bg-black .progress {
    background: rgba(255, 255, 255, 0.20);
}
.progress {
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 6px;
    background-color: rgb(0 0 0 / 20%);
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, right top, from(#FFD452), to(#FFD452));
    background-image: linear-gradient(to right, #FFD452, #FFD452);
    background-repeat: no-repeat;
    background-size: 0 100%;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.progress_arrow_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.progress_arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
}

.progress_arrow .slick-arrow {
    position: initial;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.progress_next_arrow {
    margin-left: 10px;
}

body .ff-message-success {
    border: 00;
    box-shadow: unset;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    background: var(--Pink-Orange, linear-gradient(147deg, #FF0062 19.73%, #F60 78.34%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}





.event-cta {
    padding: 20px 130px;
    border-radius: 10px;
    background: linear-gradient(108deg, #FF0062 34.06%, #F60 58.85%);
}

.event-cta .cta-wrapper {
    margin: 0 -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-cta .cta-wrapper .cat-text {
    width: auto;
}

.event-cta .cta-wrapper .cta-btn {
    flex-shrink: 0;
}

.event-cta .cta-wrapper > div {
    padding: 0 20px;
}

.cat-text h5,.cat-text p {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
}

.cat-text h5 {
    margin-bottom: 0;
}






/*************************************************
                 header Css
*************************************************/
.switch_section + .site-footer .footer-logo {
    text-align: left;
}
header.pink-header {
    background-color: #FF0062;
}

header.pink-header + .breadcrumb-sec {
    background-color: #FF0062;
}


.home header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: transparent;
}
.site{
    position: relative;
}
@keyframes slideDown {
from {
    transform: translateY(-100%);
}
to {
    transform: translateY(0);
}
}
.site-header.is-sticky .topbar {
    display: none;
}
.site-header.is-sticky  .site-branding {
    max-width: 200px;
}
.admin-bar .site-header.is-sticky {
    top: 32px;
}
header {
    background-color: #000000;
    position: relative;
}
.site-header.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    animation: slideDown 0.45s ease-out;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 5px 0;
    background-color: #000000;
}

header .topbar {
    background: linear-gradient(90deg, #FFBF00 0%, #FF0062 100%);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.topbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-text {
    color: #ffffff;
}
.topbar-row>* {
    font-weight: 700;
    text-transform: uppercase;
}

.topbar-row a {
    color: #ffffff;
    position: relative;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location a:not(:first-child):before {
    margin-right: 0;
    padding-right: 5px;
    content: "|";
}

.user-info a img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.user-info a {
    font-weight: 700;
}

.user-info>:not(:last-child) {
    margin-right: 20px;
}

.sticky-header {
    padding: 20px 0;
}

.header-navigation .menu li {
    position: relative;
}

.header-navigation .menu>li {
    display: inline-block;
}

.header-navigation .menu {
    margin: 0;
}

.header-navigation .menu>li:not(:first-child) {
    margin-left: 20px;
}

.header-navigation .menu li a {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.6s;
}

.toggle {
    background: #FFBF00;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.header-main {
    display: flex;
    align-items: center;
}

.header-main .defualt-btn {
    margin-left: 40px;
    flex-shrink: 0;
}

.menu-item-has-children .arrows {
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--light-blue);
}

.sub-menu {
    position: absolute;
    margin-left: 0;
    min-width: 250px;
    background: linear-gradient(90deg, #FFBF00 0%, #FF0062 100%);
    top: 100%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    z-index: 2;
}

.sub-menu li {
    display: block;
}

.header-navigation .menu>li {
    display: inline-block;
}

.sub-menu li {
    margin-left: 0;
}

.sub-menu a {
    display: block;
    padding: 10px 15px;
}

.menu-item-has-children>a {
    padding-right: 25px;
}

.header-navigation .menu>li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

/*************************************************
                 Footer Css
 *************************************************/

.footer-top {
    padding: 60px 0;
}

.footer-logo {
    text-align: right;
    margin-bottom: 80px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main .footer-info {
    width: 40%;
}

.footer-main .footer-navigation {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-info .user-info a {
    display: flex;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-info .user-info a:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
}

.social-link {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.social-link h5 {
    max-width: 169px;
    font-weight: 500;
    margin-right: 20px;
}
.social-link a img:hover {
    filter: unset;
}

.social-link a:not(:first-child) {
    margin-left: 10px;
}

.social-link a img {
    filter: invert(0) brightness(0);
}
.social-link a img {
    vertical-align: middle;
}

.footer-link .menu {
    margin-left: 0;
}

.footer-link .menu li a {
    color: #000;
    transition: all 0.6s;
}

.footer-link .menu li a:hover {
    color: #FFBF00;
}

.footer-link .menu li:not(:last-child) {
    margin-bottom: 10px;
}

.location-main-row {
    display: flex;
}

.location-main-row .location-shape {
    width: 20%;
    margin-right: 30px;
}

.location-main-row .location-row {
    width: 67%;
    padding: 30px 0;
}

.location-main-row .location-shape img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-location {
    background: linear-gradient(90deg, #FF0062 0%, #FFBF00 78.59%), #FF3700;
    text-align: center;
    position: relative;
}

.footer-location .location-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-location .location-row a h6 {
    color: #ffffff;
    background-color: transparent;
    -webkit-text-fill-color: #ffffff;
    margin-top: 9px;
    margin-bottom: 0;
    font-weight: 600;
}


.footer-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom {
    padding: 24px 0;
}

.footer-bottom-row p,
.footer-bottom-row a {
    color: #000000;
    font-weight: 300;
}

.footer-bottom-row p {
    margin-bottom: 0;
}

.footer-bottom-row a strong {
    text-transform: uppercase;
    font-weight: 600;
}


/*************************************************
                 contact Info Css
 *************************************************/

/*************************************************
                 Responsive Css
 *************************************************/

@media only screen and (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media only screen and (min-width:768px) {

    .container {
        max-width: 720px
    }

    .footer-location .container {
        max-width: 100%;
        padding: 0;
    }
}

@media only screen and (min-width:992px) {

    .container {
        max-width: 960px
    }

    .header-navigation .sub-menu li a:hover {
        background: #FFBF00;
    }
    .mobile_btn {
        display: none;
    }
}

@media only screen and (min-width:1200px) {

    .container {
        max-width: 1140px
    }
}

@media only screen and (min-width:1400px) {
    .container {
        max-width: 1248px
    }

    .site-header .container {
        max-width: 1308px;
    }
}

@media only screen and (max-width:1399px) {

    .site-branding {
        max-width: 230px;
    }

    .defualt_btn,
    input[type="submit"],
    [type="submit"] {
        font-size: 16px;
        padding: 10px 15px;
    }
    .event-cta {
        padding: 20px 80px;
    }
    /*************************************************
                 Header Css
    *************************************************/
    .header-main .defualt-btn {
        margin-left: 20px;
    }

    .header-navigation .menu>li:not(:first-child) {
        margin-left: 10px;
    }

    .header-navigation .menu li a {
        font-size: 14px;
    }

    .location-main-row .location-shape {
        width: 23%;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .site-branding {
        max-width: 180px;
    }

    .header-navigation .menu li a {
        font-size: 12px;
    }

    .header-navigation .menu>li:not(:first-child) {
        margin-left: 5px;
    }

    .header-main .defualt_btn {
        font-size: 14px;
        padding: 10px 10px;
    }

    .menu-item-has-children .arrows {
        height: 15px;
        width: 15px;
    }
}

@media only screen and (max-width:1199px) {
    .content-box ul li:before {
        top: 0px;
    }
    .content-box ul li {
        font-size: 16px;
    }
    body {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }


    h1, .h1{
        font-size: 50px;
        margin-bottom: 20px;
    }
    h2, .h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .bg-black {
        padding: 60px 0;
    }
    section {
        margin: 60px 0;
    }
    .bg-white {
        background: #ffffff;
        padding: 60px 0;
    }
    .list-with-search-btn .seacrh-btn {
        max-width: 320px;
        width: 100%;
        margin-left: 30px;
    }
    .event-cta {
        padding: 20px;
    }
   /*progress Bar*/

   .progress_bar {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .progress_arrow {
        margin-left: 20px;
    }
    /*************************************************
                 Header Css
    *************************************************/

    .user-info>:not(:last-child) {
        margin-right: 10px;
    }

    .topbar-row>* {
        font-size: 14px;
    }

    /*************************************************
                 Footer  Css
    *************************************************/
    .location-main-row .location-shape {
        width: 28%;
    }

    .footer-main .footer-navigation {
        width: 55%;
    }
}

@media only screen and (max-width:991px) {
    h1, .h1 {
        font-size: 40px;
    }
    h2, .h2{
        font-size: 30px;
    }
    h3, .h3{
        font-size: 26px;
    }
    section {
        margin: 40px 0;
    }
    .bg-black {
        padding: 40px 0;
    }
    .bg-white {
        background: #ffffff;
        padding: 40px 0;
    }
    .desktop_btn {
        display: none;
    }
    .list-with-search-btn {
        display: block;
    }
    .list-with-search-btn .seacrh-btn {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .event-cta {
        text-align: center;
    }
    .event-cta .cta-wrapper {
        flex-direction: column;
        margin: 0;
    }
    
    .event-cta .cta-wrapper .cat-text {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .event-cta .cta-wrapper > div {
        padding: 0;
    }
    /*************************************************
                 Header Css
    *************************************************/

    .toggle {
        display: flex;
    }

    .header-navigation .menu>li {
        display: block;
    }

    .header-navigation .menu>li:not(:first-child) {
        margin-left: 0;
    }

    .header-navigation .menu>li:not(:last-child) {
        margin-bottom: 20px;
    }

    .header-main {
        display: flex;
        align-items: center;
        position: fixed;
        right: 0;
        width: 100%;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(255, 0, 98, 0.90) 0%, rgba(255, 102, 0, 0.90) 100%);
        height: 100%;
        max-width: 393px;
        display: block;
        padding: 74px 40px 180px;
        transform: translateX(100%);
        transition: all 0.6s;
        overflow: auto;
        z-index: 3;
    }

    body.menu-open .header-main {
        transform: translateX(0);
    }

    .header-navigation .menu li a {
        font-size: 32px;
        text-transform: capitalize;
        font-weight: 500;
    }

    .close-btn {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .header-main .defualt-btn {
        margin-left: 0;
        margin-top: 60px;
        text-align: center;
    }

    .menu-item-has-children .arrows {
        background-image: url(../images/pluse.svg);
        background-size: contain;
        top: 20px;
        height: 16px;
        width: 16px;
    }

    .menu-item-has-children .arrows.active {
        background-image: url(../images/minus.svg);
    }

    .menu-item-has-children {
        padding-right: 25px;
    }

    .header-navigation .menu li .sub-menu a {
        font-size: 28px;
        font-weight: 400;
        padding: 0 20px 20px;
    }

    .header-navigation .menu li .sub-menu li:last-child a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    }

    .header-navigation .menu li .sub-menu {
        margin-top: 20px;
    }

    .sub-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        background: transparent;
        display: none;
    }

    .topbar-row {
        justify-content: center;
    }

    .topbar-row .reviews-text {
        display: none;
    }

    .topbar-row .user-info {
        display: none;
    }

    /*************************************************
                 Footer  Css
    *************************************************/
    .footer-logo {
        text-align: left;
        margin-bottom: 55px;
        max-width: 334px;
        width: 100%;
    }

    .footer-main .footer-info {
        width: 100%;
        margin-top: 40px;
    }

    .footer-main {
        flex-direction: column-reverse;
    }

    .footer-main .footer-navigation {
        width: 100%;
    }

    .social-link {
        margin-top: 27px;
    }

    .footer-location .location-row {
        margin-bottom: -40px;
    }

    .footer-location .location-row a {
        width: 30%;
        margin-bottom: 40px;
    }

    .location-main-row .location-shape {
        display: none;
    }

    .location-main-row {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:767px) {

    .two_btn {
        display: block;
    }
    .two_btn .text_btn {
        margin-bottom: 15px;
    }
    .progress_bar {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .progress_arrow {
        margin-left: 30px;
    }
    .cat-text h5, .cat-text p {
        font-size: 16px;
        line-height: 26px;
    }
    .pagination .page-numbers {
        width: 40px;
        height: 40px;
    }
    /*************************************************
                 Footer  Css
    *************************************************/
    .footer-main .footer-navigation {
        flex-wrap: wrap;
    }

    .footer-link {
        width: 47%;
        margin-bottom: 40px;
    }

    .footer-main .footer-info {
        margin-top: 0;
    }

    .social-link {
        display: block;
    }

    .social-link a:not(:first-child) {
        margin-left: 0;
    }

    .social-link a:not(:last-child) {
        margin-right: 10px;
    }

    .social-link h5 {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-location .location-row a {
        width: 46%;
    }

    .location-main-row .location-row {
        width: 100%;
    }
}

@media only screen and (max-width:374px) {
    .footer-info .user-info a {
        font-size: 13px;
    }
    h1, .h1 {
        font-size: 40px;
    }
    .social-link h5 {
        font-size: 16px;
    }

    .footer-main .footer-navigation>div:nth-child(2) {
        order: 3;
    }

    .footer-main .footer-navigation>div:nth-child(4) {
        order: 2;
    }

    .footer-main .footer-navigation>div:nth-child(3) {
        order: 4;
    }

    .footer-bottom-row {
        display: block;
        text-align: center;
    }

    .footer-bottom-row p {
        margin-bottom: 40px;
    }

}