.get-ready-section .column-row{margin:0 -15px}
.get-ready-section .column-row>div{padding:0 15px}
.get-ready-section .column-row .left-col{width:25%}
.get-ready-section .column-row .right-col{width:75%}
.video-img img{width:100%;position:absolute;left:0;top:0;height:100%;-o-object-fit:cover;object-fit:cover;border-radius:20px}
.video-img{position:relative;padding-bottom:56.25%;display:block}
.get-ready-section{background-color:#000;padding:80px 0}
.get-ready-section .text-block h4{margin-bottom:20px}
.get-ready-section .text-block h4,.get-ready-section .text-block p{color:#fff}
.get-ready-section .text-block h6{-webkit-background-clip:unset;-webkit-text-fill-color:unset;background:0 0;text-transform:none;font-size:18px;font-weight:400;color:#fff}
.get-ready-section .text-block .bottom-text{margin-top:40px;padding-top:40px;border-top:solid 1px rgb(217 217 217 / 50%)}
.video-icon{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:358px;height:194px}
.video-icon:before{opacity:.4;background:-o-radial-gradient(50% 50%,50% 50%,#000 0,rgba(0,0,0,0) 100%);background:radial-gradient(50% 50% at 50% 50%,#000 0,rgba(0,0,0,0) 100%);-webkit-filter:blur(32px);filter:blur(32px);content:'';width:100%;position:absolute;left:0;height:100%;z-index:-1;top:0;border-radius:358px}
.video-icon img{width:94px;position:static;height:94px;-o-object-fit:contain;object-fit:contain;border-radius:0}
.video-icon:hover rect{-webkit-transition:all .6s;-o-transition:all .6s;transition:all .6s}
.video-icon:hover svg rect{fill:#FFBF00}
.video-icon:hover svg path{fill:#fff}

@media only screen and (max-width:1199px){
    .get-ready-section .column-row .left-col{width:30%}
    .get-ready-section .column-row .right-col{width:70%}
    .video-icon svg{width:70px}
}

@media only screen and (max-width:1199px){
    .get-ready-section{padding:60px}
}

@media only screen and (max-width:991px){
    .get-ready-section .column-row .left-col{width:100%}
    .get-ready-section .column-row .right-col{width:100%;margin-top:30px}
    .get-ready-section{padding:40px 0}
    .get-ready-section .text-block .bottom-text{margin-top:20px;padding-top:20px}
    .video-icon {
        width: 180px;
        height: 90px;
    }
}