.icon-and-text-slider {
    margin: 0;
    padding: 10px 0;
}

.icon-and-text-row {
    display: flex;
    justify-content: center;
}

.icon-and-text-iner .icon-and-text-box {
    display: flex;
    align-items: center;
}

.icon-and-text-iner .icon-and-text-box h4 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.icon-and-text-iner .icon-and-text-box img {
    height: 34px;
    width: 34px;
    margin-right: 15px;
}

.icon-and-text-iner {
    padding: 0 50px;
    position: relative;
}
.icon-and-text-iner:before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}