.booth_slide_box {
    display: block;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(23.7%, #000000), color-stop(37.83%, #1C1C1C), color-stop(40.08%, #4B4B4B), color-stop(43.85%, #1C1C1C), color-stop(61.36%, #000000));
    background: linear-gradient(137.97deg, #000000 23.7%, #1C1C1C 37.83%, #4B4B4B 40.08%, #1C1C1C 43.85%, #000000 61.36%), #000000;
    padding: 10px 10px 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.booth_slide_img {
    position: relative;
    padding-bottom: 133.34%;
}

.booth_slide_img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.booth_slide_img::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    background: transparent;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.booth_slide_img::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 0;
    height: 0;
    background: transparent;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.explore_btn {
    position: absolute;
    left: 20px;
    bottom: 30px;
    z-index: 1;
}

.explore_btn .defualt_btn {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 5px 10px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.booth_slide_title h4 {
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.booth_slide_box:hover {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(49.52%, #FFBF00), color-stop(83.4%, #FF0062));
    background: linear-gradient(234.47deg, #FFBF00 49.52%, #FF0062 83.4%), linear-gradient(137.97deg, #000000 23.7%, #1C1C1C 37.83%, #4B4B4B 40.08%, #1C1C1C 43.85%, #000000 61.36%), #000000;
}

.booth_slide_box:hover .explore_btn .defualt_btn {
    color: #000000;
    background: #FFBF00;
    border: 1px solid #FFBF00;
}

.booth_slide_box:hover .booth_slide_img::before,
.booth_slide_box:hover .booth_slide_img::after {
    opacity: 1;
    visibility: visible;
    width: 63px;
    height: 60px;
}



.filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    margin-top: 32px;
}

.filter-container a {
    font-weight: 700;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
    text-align: center;
}

.filter-container a svg {
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    -o-object-fit: contain;
    object-fit: contain;
}

.filter-container a svg path {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.filter-container a:hover,
.filter-container a.active {
    color: #FFFFFF;
    background: #000000;
}

.filter-container a:hover svg path,
.filter-container a.active svg path {
    fill: #FFFFFF;
}
.title-with-event-photobooth-slider .booth_row {
    display: flex;
}

.title-with-event-photobooth-slider .booth_row .booth_column {
    width: 20%;
}

.title-with-event-photobooth-slider .title_block {
    text-align: left;
    margin-bottom: 40px;
}
.title-with-event-photobooth-slider .booth_row .slick-list.draggable {
    padding-right: 150px;
}
.title-with-event-photobooth-slider {
    margin: 0;
}
@media only screen and (max-width:1399px){
    
}
@media only screen and (max-width:1199px){
    
}
@media only screen and (max-width:991px){
    .title-with-event-photobooth-slider .booth_row .slick-list.draggable {
        padding-right: 70px;
    }  
}

@media only screen and (max-width:575px){
    .title-with-event-photobooth-slider .booth_row .slick-list.draggable {
        padding-right: 50px;
    }
}
@media only screen and (max-width:767px){

}